<!-- Surcharge de la page d'erreur par defaut (pour les 404)
vendor/symfony/symfony/src/Symfony/Bundle/TwigBundle/Resources/views/Exception/error.html.twig-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur {{ status_code }} :-(</title>
</head>
<body>
<h1>Oh lala, une 404</h1>
<h2>C'est trop dommage ;-(</h2>

<div>
    GAME OVER
</div>
</body>
</html>