<!-- Surcharge de la page d'erreur par defaut definie dans
vendor/symfony/symfony/src/Symfony/Bundle/TwigBundle/Resources/views/Exception/error.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur {{ status_code }} :-(</title>
</head>
<body>
<h1>Oh lala, une erreur {{ status_code }}</h1>
<h2>Dommage... ;-(</h2>

<div>
    You failed !
</div>
</body>
</html>